body{
  font-family: sans-serif;
  line-height: 1.4;
}

.Product{
border: 4px solid black;
width:825px;
margin: 50px auto;
position: relative;
}
.sale{
  position: absolute;
  background-color: red;
  color: white;
  padding: 10px 20px;
  letter-spacing: 4px;
  top:-25px;
  left: -45px;
}
h2 {
  color: "#000";
  background-color: lightgray;
  text-align: center;
  font-size: 22px;

}

.price {
  font-size: large;
}

.free-shipping {
  color: darkgrey;
  text-transform: uppercase;
  font-weight: bold;
  margin-bottom: 20px;
}

a,a:visited {
  color: black;
}
a:hover,a:active {
  color: blue;
  text-decoration:none;
}

h3 {
  text-transform: uppercase;
  font-size: 16px;
  margin-bottom: 15px;
  margin-top: 30px;

}

.list{
  list-style: square;
}

.list li {
  margin-bottom: 10px;
}

.cart{
  background-color: black;
  border: none;
  color: white;
  text-transform: uppercase;
  cursor: pointer;
  padding: 15px;
  width:100%;
  border-top: 4px solid #000;
}
.cart:hover{
  color: black;
  background-color: white;
}
/* h1,
h2,
h3,
h4,
p,
li{
font-family: serif;
color:#444;
text-align:'center';
}

h1,
h2,
h3{
  color:rgb(15, 104, 238);
}

h1{
  color:blue;
  font-size:26px;
  text-transform: uppercase;
  font-style: italic;
  color:rgba(229, 33, 236, 0.959);
}

h2{
  font-size: 40px;
}

h3{
  font-size: 30px;
}

h4{
  font-size: 20px;
  text-transform: uppercase;
  text-align: center;
}

p{
  font-size: 22px;
  line-height: 1.5;
}
li{
  font-size:20px;
}


#author{
font-style: italic;
font-size: 18px;
}

#copyright{
font-size: 16px;
}

.related-author{
font-size: 180px;
font-weight: bold;
}

.related{
  list-style: none;
}
.main-header{
  background-color:#f7f7f7;
}

aside{
  background-color: #f7f7f7;
  border-top:5px solid #1098ad;
  border-bottom:5px solid #1098ad;
  border-left:5px solid #1098ad;
  border-right:5px solid #1098ad;

}

body{
 
} */

.box{
  width: 30px;
  height: 30px;
  display: inline-block;
  margin-right: 15px;
  margin-top: 15px;
}

.black{
  background-color: black;
}

.blue{
  background-color: blue;
}
.red{
  background-color: red;
}
.yellow{
  background-color: yellow;
}
.green{
  background-color: green;
}

.brown{
  background-color: brown;
}