

.container{
  width:1000px;
}

.subContainer{
  width:50%;border: 2px solid #000;padding:10px
}

.mainContainer{
  width:1000px;
  margin-left: auto;
  margin-right: auto;
  margin:100 auto;
}

nav{
  text-align: center;
}
/* * {
  margin: 0;
  padding:0;
} */

h1,
h2,
h3,
h4,
p,
li{
font-family: serif;
color:#444;
}

.post-img{
  width:100%;
  height:auto;
}
.post-header{
  margin-bottom: 40px;
}
h1,
h2,
h3{
  color:rgb(15, 104, 238);
}

h1{
  color:blue;
  font-size:26px;
  text-transform: uppercase;
  font-style: italic;
  color:rgba(229, 33, 236, 0.959);
}

h2{
  font-size: 40px;
  margin-bottom: 20px;
}

h3{
  font-size: 30px;
}

h4{
  font-size: 20px;
  text-transform: uppercase;
  text-align: center;
}

p{
  font-size: 22px;
  line-height: 1.5;
}
li{
  font-size:20px;
  margin-bottom: 10px;
}
li:last-child{
  margin-bottom: 0;
}

/* 
footer p {
  font-size: 16px;
} */

/* article header p{
  font-style: italic;
} */

#author{
font-style: italic;
font-size: 18px;
}

#copyright{
font-size: 16px;
}

.related-author{
font-size: 180px;
font-weight: bold;
}

/* ul{
list-style: none;;
} */
.related{
  list-style: none;
}
.main-header{
  background-color:#f7f7f7;
  border-top: 5px solid #1098ad;
  border-bottom: 5px solid #1098ad;
  padding: 20px;
  padding-left: 40px;
  padding-right: 40px;
}

aside{
  background-color: #f7f7f7;
  border-top:5px solid #1098ad;
  border-bottom:5px solid #1098ad;
  border-left:5px solid #1098ad;
  border-right:5px solid #1098ad;

}
/* 
body{
   margin:0;

} */
button{
  font-size: 22px;
  padding: 20px;
  cursor: pointer;
  position: absolute;
  bottom: 50px;
  right: 50px;
}
h1::first-letter{
  font-size: 88px;
}

h2{
  /* background-color: chocolate; */
  position: relative;
}

h2::after{
  content: 'Top Testing';
  background-color: #ffe70e;
  font-size: 16px;
  font-weight: bold;
  display: inline-block;
  padding: 5px 10px;
  position: absolute;
  top: -15px;
  right: 25px;
  color: #444;
}